/* Container holding the image and the text */
.container {
  position: relative;
}.text-block {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 5%;
    top: 2%;
    
    font-family: "Jost";
    font-style: normal;
    font-weight: 900px;
    font-size: 100%;
    line-height: 100%;
    
    color: #1F1C2A;
    }
    .current-members {
    position: absolute;
    width: 20%;
    height: 70px;
    left: 6%;
    top: 550px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 100%;
    line-height: 100%;
    text-align: center;

    color: #FEF3CD;
    }
    .sign-up {
    position: absolute;
    width: 20%;
    height: 70px;
    left: 40%;
    top: 550px;
  
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    line-height: 100%;
    text-align: center;
  
    color: #FFFFFF;
    }
    .subscribe-now {  
    position: absolute;
    width: 20%;
    height: 70px;
    left: 73%;
    top: 550px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 100%;
    line-height: 100%;
    text-align: center;

    color: #FFFFFF;
    mix-blend-mode: soft-light;
    } 
    
    th, td { 

    background: #1F1C2A;
    border-radius: 13px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 61px;
    
    text-align: left;

    color: #FFFFFF;

    }
    